<%= @game.player1.name %> has imparted superpowers to <%= @game.player2.name %>!

<%= @game.player1.name %>: <%= @game.player1.super_powers %>SP
<%= @game.player2.name %>: <%= @game.player2.super_powers %>SP

<form action="/switch-turns" method="post">
  <input type="submit" value="OK">
</form>
