<%= @game.player1.name %> has imparted superpowers to <%= @game.player2.name %>!

<%= @game.player1.name %>: <%= @game.player1.super_powers %>SP
<%= @game.player2.name %>: <%= @game.player2.super_powers %>SP

<a href=/play>OK</a>
